.popup__submit_inactive{
    color: #000;
    background-color: #fff;
    opacity: .2;
    cursor: auto;
    border: 1px solid #000;
}

.popup__submit_inactive:hover{
    color: #000;
    background-color: #fff;
    opacity: .2;
    cursor: auto;
    border: 1px solid #000; 
}
